<h3>{{viewGroup}}</h3>
<h3>{{format-money listTotal symbol="£"}}</h3>
{{new-line-item document=document}}
{{!-- <div style="position: relative; width: 100%; height: 600px;">
    {{#ember-collection items=lineItems cell-layout=(fixed-grid-layout 1600 50) as |lineItem index|}}
        {{line-item lineItem=lineItem}}
    {{/ember-collection}}
</div> --}}
{{#each lineItems as |lineItem|}}
    {{line-item lineItem=lineItem document=document}}
{{/each}}
