<h2>
    {{model.title}}
</h2>

{{!-- {{new-section document=model}} --}}

<div style="width: 40%; display: inline-block;">
    {{line-item-list lineItems=model.lineItems document=model}}
</div>

<div style="width: 50%; display: inline-block;">
    {{line-item-list lineItems=model.lineItems document=model}}
</div>

{{outlet}}
