<h2>
    {{model.title}}, {{format-money model.total symbol="£" }}
</h2>

{{outlet}}

{{!-- <p>
    View by:
    <select onchange={{action (mut viewBy) value="target.value"}}>
        <option value="stage" selected={{eq viewBy "stage"}}>Stages</option>
        <option value="location" selected={{eq viewBy "location"}}>Locations</option>
    </select>
</p>

<p>
    Viewing:
    <select onChange={{action (mut currentView) value="target.value"}}>
        {{#each viewGroup as |group|}}
            <option value={{group}} selected={{eq currentView group}}>{{group.name}}</option>
        {{/each}}
    </select>
</p>
<div>
    {{#each-in groupedLineItems as |viewGroup lineItems|}}
        {{line-item-list lineItems=lineItems viewGroup=viewGroup document=model}}
    {{/each-in}}
</div> --}}
